        h1, h2, h3{
            color: rgb(252, 158, 42);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: underline;
        }
        #titulo{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
            border: 10px solid yellow;
            background-color: rgb(97, 89, 89);
            color: aliceblue;
            padding-bottom: 15px;
        }
        ul li{
            list-style: none;
            display: inline;
        }
